async function kirimReview() {
  const text = document.getElementById('review').value;

  const res = await fetch('http://localhost:3000/analyze', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({ text })
  });

  const data = await res.json();

  document.getElementById('hasil').innerText = data.sentiment;

  loadData();
}

async function loadData() {
  const res = await fetch('http://localhost:3000/data');
  const data = await res.json();

  const list = document.getElementById('list');
  list.innerHTML = '';

  data.forEach(item => {
    const li = document.createElement('li');
    li.innerText = item.text + ' (' + item.sentiment + ')';
    list.appendChild(li);
  });
}

loadData();